
.Maria{
  height: 180px;
  width: 320px;
  /* max-width: 100%; */
  /* width: 100%; */
  /* height: auto; */
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-image: url("maria.jpg");
  background-repeat: no-repeat;
  /* background-position:top; */
  /* background-size: cover; */
}